%section.container.features
  .row.clearfix
    .col.w-50.pull-right
      %ul
        %li
          = fa_icon "question"
          %h3= t('.feature_1_heading')
          %p= t('.feature_1_copy')
        %li
          = fa_icon "check"
          %h3= t('.feature_2_heading')
          %p= t('.feature_2_copy')
        %li
          = fa_icon "eye"
          %h3= t('.feature_3_heading')
          %p= t('.feature_3_copy')
        %li
          = fa_icon "share-alt"
          %h3= t('.feature_4_heading')
          %p= t('.feature_4_copy')
        %li
          = fa_icon "pencil"
          %h3= t('.feature_5_heading')
          %p= t('.feature_5_copy')
        %li
          = fa_icon "envelope-o"
          %h3= t('.feature_6_heading')
          %p= t('.feature_6_copy')
        %li
          = fa_icon "bullhorn"
          %h3= t('.feature_7_heading')
          %p= t('.feature_7_copy')
