%footer.container.footer
  .row.clearfix
    .col.w-33.gutter.newsletter
      %h3.underline.white.center.thin= t('.newsletter_heading')
      %p= t('.newsletter_oneliner')
      = render 'layouts/app-frontend/mailchimp_form'
    .col.w-33.gutter.social-media
      %h3.underline.white.center.thin= t('.social_media_heading')
      %ul.sm-icons
        %li
          = link_to t('.linkedin_url'), class: 'sm-icon', target: '_blank' do
            = fa_icon "linkedin"
        %li
          = link_to t('.twitter_url'), class: 'sm-icon', target: '_blank' do
            = fa_icon "twitter"
        %li
          = link_to t('.facebook_url'), class: 'sm-icon', target: '_blank' do
            = fa_icon "facebook"
    .col.w-33.copyrights
      %h3.underline.white.center.thin= t('timeliner')
      %p
        = t('.credit_copy')
        = link_to t('.design'), t('.design_url'), target: '_blank', rel: 'nofollow', class: 'link-white'
        = t('and')
        = link_to t('.code'), t('.code_url'), target: '_blank', rel: 'nofollow', class: 'link-white'
        = t('with')
        = fa_icon "heart"
        = t('.credit_location')
        = t('by')
        = link_to t('.credit_name'), t('.credit_url'), target: '_blank', rel: 'nofollow', class: 'link-white'
        %small= t('.copyrights')
