%footer.container.footer
  .row.clearfix
    .col.w-30.gutter.newsletter
      %h3.underline.white.left.thin Stay informed
      %p Subscribe to our newsletter!
      = render 'layouts/app-frontend/mailchimp_form'
    .col.w-30.gutter.social-media
      %h3.underline.white.left.thin You can find us on
      %ul.sm-icons
        %li
          = link_to '#', class: 'sm-icon' do
            = fa_icon "linkedin"
        %li
          = link_to '#', class: 'sm-icon' do
            = fa_icon "twitter"
        %li
          = link_to '#', class: 'sm-icon' do
            = fa_icon "facebook"
    .col.w-40.copyrights
      = image_tag('logo-sml.png', alt: '')
      %p
        Timeliner, created by
        = link_to 'Karim Tarek', 'http://www.gotimeliner.com/karim-tarek', target: '_blank', class: 'link-white'
        , with
        = fa_icon "heart"
        from Montreal, Canada.
      %small Copyright © 2015 Timeliner. All screenshots © their respective owners.
