<div class="main-wrapper">
  <%= render 'layouts/app-frontend/header' %>

    <div class="section ha-waypoint"  data-animate-down="ha-header-hide" data-animate-up="ha-header-hide">
      <%= render 'layouts/app-frontend/nav' %>
        <!--BEGIN SLIDER -->
        <%= render 'layouts/app-frontend/slider' %>
        <!--END SLIDER
        -->
      </div>
      <div class="section ">
        <div class="container">
          <div class="p-t-40 p-b-40">
            <h2 class="text-center">Create the <span class="semi-bold">impossible</span>, We’ve <span class="semi-bold">designed everything</span> beyond... <a href="#" class="btn btn-purple btn-lg  btn-large m-r-10">BUY IT NOW</a></h2>
          </div>
        </div>
      </div>
      <div class="section white ha-waypoint"  data-animate-down="ha-header-color" data-animate-up="ha-header-hide" >
        <div class="container">
          <div class="p-t-60">
            <div class="row">
              <div class="col-md-12 feature-list ">
                <div class="col-md-4 " data-ride="animated" data-animation="fadeIn" data-delay="300">
                  <h4 class="title">FULL PACKAGE</h4>
                  <p>
                    We combine intelligent thinking with stimulating design to keep your brand engaging and help challenging brands find their clarity.
                  </p>
                </div>
                <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="600">
                  <h4 class="title">CUSTOMIZATION</h4>
                  <p>
                    Make any design your own using the Style Editor. Personalize fonts, colors, and layouts to create the custom look you want.
                  </p>
                </div>
                <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="900">
                  <h4 class="title">SOCIAL</h4>
                  <p>
                    Import. Sync. Publish. Make your website the center of your online identity on the web with our powerful social integrations.
                  </p>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12 feature-list">
                <div class="col-md-4 " data-ride="animated" data-animation="fadeIn" data-delay="1200">
                  <h4 class="title">TEMPLATES</h4>
                  <p>
                    Squarespace websites are created with modern browsers and mobile devices in mind. They employ the latest HTML, CSS and Javascript techniques.
                  </p>
                </div>
                <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="1500">
                  <h4 class="title">CUSTOMIZATION</h4>
                  <p>
                    Make any design your own using the Style Editor. Personalize fonts, colors, and layouts to create the custom look you want.
                  </p>
                </div>
                <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="1800">
                  <h4 class="title">SOCIAL</h4>
                  <p>
                    Import. Sync. Publish. Make your website the center of your online identity on the web with our powerful social integrations.
                  </p>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="section relative">
              <div class="row">
                <%= image_tag('app-frontend/browser.png', alt: '', class: 'resize p-t-60 col-md-9 hidden-xs', data: {ride: "animated", animation: "fadeInUp", delay: "300"}) %>

                <%= image_tag('app-frontend/phone.png', alt: '', class: 'resize p-t-60 col-md-2 push-bottom hidden-sm hidden-xs visible-lg visible-md', style: 'right:9%', data: {ride: "animated", animation: "fadeInRight", delay: "600"}) %>

              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="section grey">
        <div class="container">
          <div class="p-t-40 p-b-50 ">
            <div class="row">
              <div class="col-md-12">
                <h2><span class="normal">Make life much easier</span><br>
                download webarch full package with <span class="normal">frontend</span><button type="button" class="btn btn-primary btn-cons m-l-30">Subscribe</button></h2>
              </div>
            </div>
            <br>
            <div class="row feature-list">
              <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="300">
                <h4 class="title custom-font">MILLIONS OF POSSIBILITIES</h4>
                <p class="p-r-50">
                  Hundreds of free desktop apps Enjoy a mobile-like app experience on your PC, with free apps and games like Facebook and Farmville 2.
                </p>
              </div>
              <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="600">
                <h4 class="title custom-font">REAL TIME NOTIFICATIONS</h4>
                <p class="p-r-50">
                  Stay informed with notifications from your favorite apps keeping you up to date on your emails, tweets and more.
                </p>
              </div>
              <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="900">
                <h4 class="title custom-font">ONE CLICK AWAY</h4>
                <p class="p-r-50">
                  Find, organize, and launch your favorite apps, sites, and files faster and easier than ever before.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section white">
        <div class="container">
          <div class="p-t-60 p-b-50 ">
            <div class="row feature-list">
              <div class="col-md-3 ">
                <h4 class="custom-font title">CUSTOMERS</h4>
                <h1 class="custom-font"><span class="number-animator" data-value="4500" data-animation-duration="800">0</span></h1>
                <div class="col-md-8 no-padding">
                  <div class="progress transparent progress-small no-radius ">
                    <div class="progress-bar progress-bar-black animated-progress-bar " data-percentage="79%"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <h4 class="custom-font title">SITES</h4>
                <h1 class="custom-font"><span class="number-animator" data-value="505" data-animation-duration="800">0</span></h1>
                <div class="col-md-8 no-padding">
                  <div class="progress transparent progress-small no-radius no-margin">
                    <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="45%" ></div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <h4 class="custom-font title">PROJECTS</h4>
                <h1 class="custom-font"><span class="number-animator" data-value="1500" data-animation-duration="800">0</span></h1>
                <div class="col-md-8 no-padding">
                  <div class="progress transparent progress-small no-radius no-margin">
                    <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="12%"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <h4 class="custom-font title">JOBS</h4>
                <h1 class="custom-font"><span class="number-animator" data-value="14000" data-animation-duration="800">0</span></h1>
                <div class="col-md-8 no-padding">
                  <div class="progress transparent progress-small no-radius no-margin">
                    <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="85%"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section table-layout">
        <div id="working-section" class="table-cell v-middle">
          <div >
            <h2 class="text-white text-center custom-font no-margin">MILLIONS OF SATISFIED CUSTOMERS</h2>
          </div>
        </div>
      </div>
      <div class="section white">
        <div class="container">
          <div class="p-t-60 p-b-50">
            <div id="testomonials" class="owl-carousel row">
              <div class="item">
                <div class="col-md-6  col-md-offset-3">
                  <h3 class="normal text-center">
                  I’m really happy that webarch is able to offer
                  support specifically tailored to creative businesses and I’d love Nottingham to become renowned for this.
                  </h3>
                  <p class="text-center">Caroline Hennigan, Programme Director, Broadway</p>
                </div>
              </div>
              <div class="item">
                <div class="col-md-6   col-md-offset-3">
                  <h3 class="normal text-center">
                  I’m really happy that webarch is able to offer
                  support specifically tailored to creative businesses and I’d love Nottingham to become renowned for this.
                  </h3>
                  <p class="text-center">Caroline Hennigan, Programme Director, Broadway</p>
                </div>
              </div>
              <div class="item">
                <div class="col-md-6   col-md-offset-3">
                  <h3 class="semi-bold text-center">
                  I’m really happy that webarch is able to offer
                  support specifically tailored to creative businesses and I’d love Nottingham to become renowned for this.
                  </h3>
                  <p class="text-center">Caroline Hennigan, Programme Director, Broadway</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section black">
        <div class="container">
          <div class="p-t-60 p-b-60">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center text-white m-b-30">Would you like to sign up for our <span class="semi-bold">programme?</span>
                Register your interest below</h2>
                <div class="row form-row">
                  <div class="col-md-6 col-md-offset-2 no-padding  col-sm-6 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <input name="form3Occupation" id="form3Occupation" type="text" class="form-control " placeholder="Enter your email addres">
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4 xs-p-l-10">
                    <button type="button" class="btn btn-primary btn-cons">Subscribe</button>
                  </div>
                </div>
                <div class="row">
                  <a href="#" class="text-white text-center col-md-11 col-sm-11 col-xs-11">or suscribte to newsletter</a>
                </div>
                <div class="clearfix"></div>
                <div class="row m-t-30">
                  <div class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2">
                    <div class="checkbox check-default">
                      <input id="checkbox1" type="checkbox" value="1">
                      <label for="checkbox1">Daily newsletters</label>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4">
                    <div class="checkbox check-default">
                      <input id="checkbox2" type="checkbox" value="1">
                      <label for="checkbox2">No promotions</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2">
                    <div class="checkbox check-default">
                      <input id="checkbox3" type="checkbox" value="1">
                      <label for="checkbox3">Industry specific events</label>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4">
                    <div class="checkbox check-default">
                      <input id="checkbox4" type="checkbox" value="1">
                      <label for="checkbox4">Accessing News letters</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section white footer">
        <div class="container">
          <div class="p-t-30 p-b-50">
            <div class="row">
              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-12 xs-m-b-20">
                <%= image_tag('app-frontend/logo_condensed.png', alt: '', width:"119", height:"22") %>
              </div>
              <div class="col-md-4 col-lg-3 col-sm-4  col-xs-12 xs-m-b-20">
                <address class="xs-no-padding  col-md-6 col-lg-6 col-sm-6  col-xs-12">
                  Crossraid<br>
                  85/B Cross Street,<br>
                  New York, USA<br>
                  NA1 42SL
                </address>
                <div class="xs-no-padding col-md-6 col-lg-6 col-sm-6">
                  <div>(0039) 389 957 5552</div>
                  support@revox.io
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="col-md-2 col-lg-2 col-sm-2  col-xs-12 xs-m-b-20">
                Copyright © 2013
                Privacy Policy
                Design by Revox
              </div>
              <div class="col-md-2 col-lg-2 col-sm-2  col-xs-12 xs-m-b-20">
                <div class="bold">RECRUITMENT</div>
                We are frequently on the lookout for new talent!
              </div>
              <div class="col-md-2 col-lg-2 col-sm-2  col-xs-12 ">
                <div class="bold">FOLLOW US</div>
                We are frequently on the lookout for new talent!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>