<div class="main-wrapper">
  <%= render 'layouts/app-frontend/header' %>

  <div class="section ha-waypoint"  data-animate-down="ha-header-hide" data-animate-up="ha-header-hide">
    <%= render 'layouts/app-frontend/nav' %>
      <!--BEGIN SLIDER -->
    <%= render 'layouts/app-frontend/slider' %>
      <!--END SLIDER -->
  </div>

  <%= render 'layouts/app-frontend/cta' %>
  <%= render 'layouts/app-frontend/features' %>
  <%#= render 'layouts/app-frontend/features_2' %>
  <%= render 'layouts/app-frontend/newsletter' %>
  <%= render 'layouts/app-frontend/footer' %>
</div>