<% content_for(:title) do %>
  Timeliner | Create a good-looking resume, in five minutes or less
<% end %>
<% content_for(:description) do %>
Timeliner is a free service that creates a good looking online resumes, quick and easy by importing your information from LinkedIn.
<% end %>
<div class="main-wrapper">
  <%= render 'layouts/app-frontend/header' %>

  <div class="section ha-waypoint"  data-animate-down="ha-header-hide" data-animate-up="ha-header-hide">
    <%= render 'layouts/app-frontend/nav' %>
      <!--BEGIN SLIDER -->
    <%= render 'layouts/app-frontend/slider' %>
      <!--END SLIDER -->
  </div>

  <%= render 'layouts/app-frontend/cta' %>
  <%= render 'layouts/app-frontend/features' %>
  <%#= render 'layouts/app-frontend/features_2' %>
  <%= render 'layouts/app-frontend/newsletter' %>
  <%= render 'layouts/app-frontend/footer' %>
</div>
