.ui.form.milestone

  = form_for(@milestone) do |f|
    = render 'shared/errors', object: @milestone
    .two.fields
      .field
        = f.label :title
        = f.text_field :title, autofocus: true#, required: true
      .field
        = f.label :location
        = f.text_field :location
    .two.fields
      .field
        = f.label :company
        = f.text_field :company
      .field
        = f.label :company_url
        .ui.labeled.input
          .ui.label http://
          = f.text_field :company_url, :placeholder => "domain.com"
    .two.fields
      .field.date_selector
        = f.label 'Start date'
        = date_select(:milestone, :date_start, start_year: 1995,
                                               discard_day: true,
                                               order: [:month, :year])
      .field.date_selector
        = f.label 'End date'
        = date_select(:milestone, :date_end, start_year: 1995,
                                               discard_day: true,
                                               order: [:month, :year])
        .ui.checkbox
          = f.check_box :present
          = f.label :present
    .field
      = f.label :description
      = f.text_area :description
    .actions
      - if @milestone.new_record?
        = f.submit "Create Milestone", class: 'ui submit button'
      - else
        = f.submit "Update Milestone", class: 'ui submit button'
      = link_to "Cancel", milestones_path