= form_for(@milestone) do |f|
  = render 'shared/errors', object: @milestone
  .form
    .stick-it-up
      - if @milestone.new_record?
        = f.submit "Create", class: 'btn small default'
      - else
        = f.submit "Update", class: 'btn small ok'
      = link_to "Cancel", milestones_path, class: 'btn x-small actionless'
    .sub-container

      .row.clearfix
        .col.w-50
          = f.label :title, class: 'form-label'
          .field-icon
            %i.fa.fa-pencil
            = f.text_field :title, required: true, class: 'form-control'
        .col.w-50
          = f.label :location, class: 'form-label'
          .field-icon
            %i.fa.fa-pencil
            = f.text_field :location, required: true, class: 'form-control'

      .row.clearfix
        .col.w-50
          = f.label :company, class: 'form-label'
          .field-icon
            %i.fa.fa-pencil
            = f.text_field :company, required: true, class: 'form-control'
        .col.w-50
          = f.label :company_url, class: 'form-label'
          .field-icon
            %i.fa.fa-pencil
            = f.text_field :company_url, :placeholder => "domain.com", class: 'form-control'

      .row.clearfix
        .col.w-50
          .col.w-50
            = f.label 'Start date', class: 'form-label'
            .select-field.date-select
              = date_select(:milestone,
                            :date_start,
                            start_year: 1995,
                            discard_day: true,
                            order: [:month, :year])
          .col.w-50
            = f.label 'End date', class: 'form-label'
            %div{class:"select-field date-select end-date #{'hide' if @milestone.present}", id:'end_date'}
              = date_select(:milestone,
                            :date_end,
                            start_year: 1995,
                            discard_day: true,
                            order: [:month, :year])
            %div.checkbox
              = f.check_box :present, id: 'present'
              = f.label :present, for: 'present'

        .col.w-50
          = f.label :description, class: 'form-label'
          .field-icon.textarea
            %i.fa.fa-pencil
            = f.text_area :description, rows: 5, class: 'form-control textarea'

    .container
      .row.full.action.group.clearfix
        .col.w-100
          - if @milestone.new_record?
            = f.submit "Create", class: 'btn small default'
          - else
            = f.submit "Update", class: 'btn small ok'
          = link_to "Cancel", milestones_path, class: 'btn x-small actionless'
