%h2 positions
- @positions[:positions][:all].each do |position|
  %p= position.title
  %p= position.company.name
  %p= position.is_current
  %p= position.start_date
  %p= position.end_date
  %p= position.summary
  %hr

%h2 education
- @education[:educations][:all].each do |education|
  %p= education.field_of_study
  %p= education.degree
  %p= education.start_date
  %p= education.end_date
  %p= education.notes
  %p= education.school_name
  %hr