= content_for(:title) do
  = "Milestones - #{@user.first_name} #{@user.last_name} | Timeliner"

.container
  .row.full.page-title.clearfix
    = link_to 'New', new_milestone_path, class: 'btn small default pull-right'
    %h2.dark.underline.left.thick.yellow
      Milestones

- unless @milestones.any?
  = render 'import_linkedin_note'

- @milestones.each_with_index do |milestone, index|
  .container.milestone
    .row.full.clearfix
      .col.w-100.wrapper
        .ribbon-wrapper
          %span.ribbon
            = index + 1
        .title
          .btn-group.pull-right
            = link_to 'Delete', milestone_path(milestone), method: :delete, class: 'btn danger x-small'
            = link_to 'Edit', edit_milestone_path(milestone), class: 'btn warning x-small'
          %h4
            = milestone.title.blank? ? 'Edit to add a title' : milestone.title
          .company-n-date
            At
            =  print_company(milestone)
            %span
              = "(#{print_location(milestone)}#{format_date(milestone.date_start)}"
              -# - unless milestone.date_end.blank?
              = '&mdash;'.html_safe + " #{milestone.present ? 'Present' : format_date(milestone.date_end)}"
              )
        - unless milestone.description.blank?
          .copy
            = markdown(milestone.description)
