= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form
    .row.clearfix
      .col.w-100
        = f.label :email, class: 'form-label'
        .field-icon
          %i.fa.fa-envelope-o
          = f.email_field :email, class: 'form-control', autofocus: true
    .row.clearfix
      .col.w-100
        = f.label :password, class: 'form-label'
        .field-icon
          %i.fa.fa-lock
          = f.password_field :password, class: 'form-control', autocomplete: "off"

    - if devise_mapping.rememberable?
      .row.clearfix
        .col.w-100
          = f.check_box :remember_me
          = f.label :remember_me
    .row.clearfix
      .col.w-100
        = f.submit "Sign in", class: 'btn small ok'
        = render "users/shared/links"
