.section.user-profile.brdr-btm.clearfix
  .pic
    = image_tag(current_user.gravatar_url, alt: current_user.username)
  .greeting
    Hello!
    %span= "#{current_user.first_name} #{current_user.last_name}"
    = link_to timeline_path(current_user), target: '_blank', class: 'link-icon' do
      View timeline
      %i.fa.fa-external-link

= render 'layouts/backend/maintenance_mode', current_user: current_user

.menu
  %ul
    %li{class: "item #{active_class?('users', %w[show edit])}"}
      = link_to user_path(current_user) do
        %i.fa.fa-smile-o
        %span.title User info

    %li{class: "item #{active_class?('milestones', %w[index])}"}
      = link_to milestones_path do
        %i.fa.fa-map-marker
        %span.title Milestones
    %li{class: "item #{active_class?('projects', %w[index])}"}
      = link_to projects_path do
        %i.fa.fa-eye
        %span.title Projects
    %li.sub-menu
      %span.title
        %i.fa.fa-magic
        Create
      %ul
        %li{class: "item #{active_class?('milestones', %w[new edit])}"}
          = link_to new_milestone_path do
            %i.fa.fa-angle-right
            Milestone
        %li{class: "item #{active_class?('projects', %w[new edit])}"}
          = link_to new_project_path do
            %i.fa.fa-angle-right
            Project

.delete-account
  %i.fa.fa-exclamation-circle
  %strong You hate it?
  %p
    No problem,
    = link_to 'delete your account.', edit_user_registration_path
