= form_for(@user, url: user_path(@user), class: 'form') do |f|
  = render 'shared/errors', object: @user
  .form
    .stick-it-up
      = f.submit "Update", class: 'btn small ok'
      = link_to "Cancel", user_path(@user), class: 'btn x-small actionless'

    .sub-container
      .row.clearfix
        .col.w-50
          = f.label :first_name, class: 'form-label'
          .field-icon
            %i.fa.fa-pencil
            = f.text_field :first_name, class: 'form-control'
        .col.w-50
          = f.label :last_name, class: 'form-label'
          .field-icon
            %i.fa.fa-pencil
            = f.text_field :last_name, class: 'form-control'

      .row.clearfix
        .col.w-50
          = f.label :username, class: 'form-label'
          .field-icon
            %i.fa.fa-pencil
            = f.text_field :username, class: 'form-control'
        .col.w-50
          = f.label :email, class: 'form-label'
          .field-icon
            %i.fa.fa-pencil
            = f.text_field :email, class: 'form-control'

      .row.clearfix
        .col.w-50
          = f.label :phone, class: 'form-label'
          .field-icon
            %i.fa.fa-pencil
            = f.text_field :phone, class: 'form-control'
        .col.w-50
          = f.label :location, class: 'form-label'
          .field-icon
            %i.fa.fa-pencil
            = f.text_field :location, class: 'form-control'

      .row.clearfix
        .col.w-50
          = f.label :description, class: 'form-label'
          .field-icon.textarea
            %i.fa.fa-pencil
            = f.text_area :description, rows: 5, class: 'form-control textarea'
        .col.w-50
          = f.label :bio, class: 'form-label'
          .field-icon.textarea
            %i.fa.fa-pencil
            = f.text_area :bio, rows: 5, class: 'form-control textarea'

      .row.clearfix
        .col.w-50
          = f.label :blog, class: 'form-label'
          .field-icon.textarea
            %i.fa.fa-pencil
            = f.text_field :blog, class: 'form-control'
        .col.w-50

    .container
      .row.full.clearfix
        .col.w-50.wrapper
          %h4.dark.underline.left.thin.yellow Social media links
          = f.nested_fields_for :social_media_links do |smlf|
            = smlf.select :name, SocialMediaLink::ALLOWED_SITES, prompt: "Pick one"
            .field-icon
              %i.fa.fa-pencil
              = smlf.text_field :url, class: 'form-control'
            = smlf.remove_nested_fields_link '', class: 'fa fa-trash'
          .action.solo
            = f.add_nested_fields_link :social_media_links, 'Add a link', class: 'btn small warning'

        .col.w-50.wrapper
          %h4.dark.underline.left.thin.yellow Skills
          .clearfix
            = f.nested_fields_for :skills do |sf|
              .field-icon
                %i.fa.fa-pencil
                = sf.text_field :name, class: 'form-control'
              = sf.remove_nested_fields_link '', class: 'fa fa-trash'
          .action.solo
            = f.add_nested_fields_link :skills, 'Add a skill', class: 'btn small warning'

    .container
      .row.full.action.group.clearfix
        .col.w-100
          = f.submit "Update", class: 'btn small ok'
          = link_to "Cancel", user_path(@user), class: 'btn x-small actionless'
