= content_for(:title) do
  = "Edit Your Information - #{@user.first_name} #{@user.last_name} | Timeliner"

.container
  .row.full.page-title.clearfix
    %h2.dark.underline.left.thick.yellow
      User Information
      %span - edit

  = render 'form'
