= content_for(:title) do
  = "User Information - #{@user.first_name} #{@user.last_name} | Timeliner"

.container
  .row.full.page-title.clearfix
    = link_to 'Edit', edit_user_path(@user), class: 'btn small warning pull-right'
    %h2.dark.underline.left.thick.yellow
      User Information
  .sub-container
    .row.clearfix
      .col.w-50
        %span.lable First name
        %p.textbox= @user.first_name
      .col.w-50
        %span.lable Last name
        %p.textbox= @user.last_name
    .row.clearfix
      .col.w-50
        %span.lable Username
        %p.textbox= @user.username
      .col.w-50
        %span.lable Email
        %p.textbox= @user.email
    .row.clearfix
      .col.w-50
        %span.lable Phone
        %p.textbox= @user.phone ? @user.phone : '-'
      .col.w-50
        %span.lable Location
        %p.textbox= @user.location
    .row.clearfix
      .col.w-50
        %span.lable Blog
        %p.textbox= @user.blog
      .col.w-50
        %span.lable Availability
        - if @user.available
          %p.textbox= @user.availability_message
        - else
          %p.textbox Not available
    .row.clearfix
      .col.w-50
        %span.lable Description
        %p.textarea
          = @user.description unless @user.description.blank?
      .col.w-50
        %span.lable Bio
        %p.textarea
          = @user.bio unless @user.bio.blank?

.container
  .row.full.clearfix
    - unless @user.social_media_links.blank?
      .col.w-50.wrapper
        %h4.dark.underline.left.thin.yellow Social media links
        %ul.tags.social-media
          - @user.social_media_links.each do |link|
            %li
              %i{class: 'fa fa-' + link.name.gsub(' ', '-')}
              = link_to link.name, link.url, target: '_blank'
    - unless @user.skills.blank?
      .col.w-50.wrapper
        %h4.dark.underline.left.thin.yellow Skills
        %ul.tags.skills
          - @user.skills.each do |skill|
            %li= skill.name
