= content_for(:title) do
  = "User Information - #{@user.first_name} #{@user.last_name} | Timeliner"
.page-title
  = link_to 'Edit', edit_user_path(@user), class: 'btn btn-warning btn-sm btn-small pull-right'
  %h3
    User Information

  .container
    .row
      .col.w-50
        %h5 First name
        %h4.semi-bold= @user.first_name
      .col.w-50
        %h5 Last name
        %h4.semi-bold= @user.last_name
    .row
      .col.w-50
        %h5 Username
        %h4.semi-bold= @user.username
      .col.w-50
        %h5 Email
        %h4.semi-bold= @user.email
    .row
      .col.w-50
        %h5 Phone
        %h4.semi-bold= @user.phone ? @user.phone : '-'
      .col.w-50
        %h5 Location
        %h4.semi-bold= @user.location

    .row
      .col.w-50
        %h5 Description
        %p= markdown(@user.description) unless @user.description.blank?
      .col.w-50
        %h5 Bio
        %p= markdown(@user.bio) unless @user.bio.blank?

    .row
      - unless @user.social_media_links.blank?
        .col.w-50
          %h4 Social media links
          %ul
          - @user.social_media_links.each do |link|
            %li= link_to link.name, link.url, target: '_blank'
      - unless @user.skills.blank?
        .col.w-50
          %h4 Skills
          %ul
          - @user.skills.each do |skill|
            %li= skill.name
