= content_for(:title) do
  = "User Information - #{@user.first_name} #{@user.last_name} | Timeliner"

.container
  .row.full.page-title.clearfix
    = link_to 'Edit', edit_user_path(@user), class: 'btn small warning pull-right'
    %h2.dark.underline.left.thick.yellow
      User Information
  .sub-container
    .row.clearfix
      .col.w-50
        %h5 First name
        %h4.semi-bold= @user.first_name
      .col.w-50
        %h5 Last name
        %h4.semi-bold= @user.last_name
    .row.clearfix
      .col.w-50
        %h5 Username
        %h4.semi-bold= @user.username
      .col.w-50
        %h5 Email
        %h4.semi-bold= @user.email
    .row.clearfix
      .col.w-50
        %h5 Phone
        %h4.semi-bold= @user.phone ? @user.phone : '-'
      .col.w-50
        %h5 Location
        %h4.semi-bold= @user.location
    .row.clearfix
      .col.w-50
        %h5 Description
        %p= markdown(@user.description) unless @user.description.blank?
      .col.w-50
        %h5 Bio
        %p= markdown(@user.bio) unless @user.bio.blank?

.container
  .row.full.clearfix
    - unless @user.social_media_links.blank?
      .col.w-50.wrapper
        %h4.dark.underline.left.thin.yellow Social media links
        %ul
        - @user.social_media_links.each do |link|
          %li= link_to link.name, link.url, target: '_blank'
    - unless @user.skills.blank?
      .col.w-50.wrapper
        %h4.dark.underline.left.thin.yellow Skills
        %ul
        - @user.skills.each do |skill|
          %li= skill.name
