= form_for(@project) do |f|
  = render 'shared/errors', object: @project
  .form
    .stick-it-up
      - if @project.new_record?
        = f.submit "Create", class: 'btn small default'
      - else
        = f.submit "Update", class: 'btn small ok'
      = link_to "Cancel", projects_path, class: 'btn x-small actionless'
    .sub-container
      .row.clearfix
        .col.w-50
          = f.label :title, class: 'form-label' do
            Title
            %span.required *
          .field-icon
            %i.fa.fa-pencil
            = f.text_field :title, required: true, placeholder: 'e.g. Timeliner', class: 'form-control'
        .col.w-50
          = f.label :published_on, class: 'form-label' do
            Published on
            %span.required *
          .select-field.date-select.field-icon
            %i.fa.fa-pencil
            = f.text_field :published_on, required: true, placeholder: 'August 2015', value: format_date(@project.published_on, '%B %Y'), class: 'form-control'
      .row.clearfix
        .col.w-50
          = f.label :client, class: 'form-label' do
            Clinet
            %span.required *
          .field-icon
            %i.fa.fa-pencil
            = f.text_field :client, required: true, placeholder: "Karim Tarek", class: 'form-control'
        .col.w-50
          = f.label :client_url, class: 'form-label'
          .field-icon
            %i.fa.fa-pencil
            = f.text_field :client_url, placeholder: 'http://karimtarek.com', class: 'form-control'

      .row.clearfix
        .col.w-50
          = f.label :link_live, class: 'form-label'
          .field-icon
            %i.fa.fa-pencil
            = f.text_field :link_live, placeholder: 'http://gotimeliner.com', class: 'form-control'
        .col.w-50
          = f.label :link_source, class: 'form-label'
          .field-icon
            %i.fa.fa-pencil
            = f.text_field :link_source, placeholder: 'https://github.com/karimmtarek/timeliner', class: 'form-control'

      .row.clearfix
        .col.w-100
          = f.label :description, class: 'form-label' do
            Description
            %span.required *
          .field-icon.textarea
            %i.fa.fa-pencil
            = f.text_area :description, rows: 5, required: true, placeholder: 'Descripe the project, what did you do, technologies used, stuff like that. You can use markdown syntax.', class: 'form-control textarea'

      .row.clearfix
        %h4.dark.underline.left.thick.yellow screenshots
        = f.nested_fields_for :images do |images_form|
          = images_form.remove_nested_fields_link '', class: 'fa fa-trash'
          .col.w-45
            = images_form.label 'Choose an image to upload', class: 'form-label'
            %span.required *
            = images_form.file_field :image
          .col.w-50
            = images_form.label :description, class: 'form-label'
            = images_form.text_field :description, class: 'form-control'
        = f.add_nested_fields_link :images, 'Add a screenshot', class: 'btn small warning'

    .container
      .row.full.action.group.clearfix
        .col.w-100
          - if @project.new_record?
            = f.submit "Create", class: 'btn small default'
          - else
            = f.submit "Update", class: 'btn small ok'
          = link_to "Cancel", projects_path, class: 'btn x-small actionless'
