.container.milestone
  .row.full.clearfix
    .col.w-100.wrapper
      .ribbon-wrapper
        %span.ribbon
          = index + 1
      .title
        .btn-group.pull-right
          = link_to 'Delete', project_path(project), method: :delete, class: 'btn danger x-small'
          = link_to 'Edit', edit_project_path(project), class: 'btn warning x-small'
        %h4
          = project.title
      = render 'shared/project_links', project: project
      .company-n-date
        = print_client(project)
        %span= "(#{project.published_on.year})"
      - unless project.description.blank?
        .copy
          = markdown(project.description)
      - if project.images.any?
        %h3.dark.underline.left.thick.yellow
          screenshots
        %ul.screenshots
          - project.images.each do |image|
            %li
              = image_tag(image.image, alt: image.description, class: '')
              %span= image.description
