= content_for(:title) do
  = "Edit Project - #{@user.first_name} #{@user.last_name} | Timeliner"

.container
  .row.full.page-title.clearfix
    %h2.dark.underline.left.thick.yellow
      Project
      %span.heighlight (Edit)

  = render 'form'
