.ui.centered.grid
  .three.wide.column
    .ui.vertical.fluid.menu
      %a.item
        Link 1
      %a.item
        Link 2
      %a.item
        Link 3

  .eleven.wide.column
    %h1 Personal Informations
    %p= "first name: #{@user.first_name}"
    %p= "last name: #{@user.last_name}"
    %p= "email: #{@user.email}"
    %p= "location: #{@user.location}"
    %p= "phone: #{@user.phone}"
    %p= "description: #{@user.description}"
    %p= "uid: #{@user.uid}"
    %p= "username: #{@user.username}"
    %p= image_tag(@user.image, size: "100x100", alt: @user.username)
    %hr
    %h2 Social media links
    %hr
    %h2 Skills