.ui.centered.grid
  .three.wide.column
    = render 'layouts/backend_side_nav'

  .eleven.wide.column
    %h1
      Personal Information
      = link_to 'Edit', edit_information_path(@information)
    %p= "first name: #{@information.first_name}"
    %p= "last name: #{@information.last_name}"
    %p= "email: #{@information.email}"
    %p= "location: #{@information.location}"
    %p= "phone: #{@information.phone}"
    %p= "description: #{@information.description}"
    %p= "uid: #{@information.uid}"
    %p= "username: #{@information.username}"
    %p= image_tag(@information.image, size: "100x100", alt: @information.username)
    %hr
    %h2 Social media links
    %hr
    %h2 Skills