%h1 Personal Informations
%p= "first name: #{@user_info.first_name}"
%p= "last name: #{@user_info.last_name}"
%p= "email: #{@user.email}"
%p= "location: #{@user_info.location}"
%p= "phone: #{@user_info.phone}"
%p= "description: #{@user_info.description}"
%p= "uid: #{@user_info.uid}"
%p= "token: #{@user_info.token}"
%p= "secret: #{@user_info.secret}"
%hr
%h2 Profile
= @x
%hr
%h2 Social media links
%hr
%h2 Skills