= content_for(:title) do
  = "Edit Post - #{@user.first_name} #{@user.last_name} | Timeliner"

.container
  .row.full.page-title.clearfix
    %h2.dark.underline.left.thick.yellow
      Post
      %span.heighlight (Edit)

  = render 'form'
