#about.container.ahoy
  .row
    .col-100
      - unless @user.bio.blank?
        .about-bubble.wow.bounce
          .bio= @user.bio
      .image
        = image_tag(@user.gravatar_url, alt: "#{@user.first_name} #{@user.last_name}", class: 'active')
      = render 'social_media_links' unless @user.social_media_links.blank?
