#about.container.escape-flight
  .row
    .col-100
      - unless @user.bio.blank?
        .about-bubble.wow.fadeInDown{data: {'wow-delay': '1s', 'wow-duration': '0.75s'}}
          .bio= @user.bio
      .image.wow.fadeIn{data: {'wow-duration': '2s'}}
        = image_tag(@user.gravatar_url, alt: "#{@user.first_name} #{@user.last_name}", class: 'active')

      = render 'availability_banner', user: @user if @user.available_with_message?
      = render 'social_media_links', fade_in_delay: true unless @user.social_media_links.blank?
