%header.container
  .row
    .col-50.logo
      %h1
        %span.name= "#{@user.first_name} #{@user.last_name}"
        %span.description= @user.description
    .col-50.last
      %nav#nav
        %ul
          %li
            %a{href:'#about', class: 'about-link', data: {scrollto: '#about'}} about
          - unless @user.milestones.blank?
            %li
              %a{href:'#timeline', class: 'timeline-link', data: {scrollto: '#timeline'}} timeline
          - unless @user.milestones.blank?
            %li
              %a{href:'#projects', class: 'timeline-link', data: {scrollto: '#timelines'}} projects
          %li
            %a{href: '#contact_form_wrapper', class: 'get-in-touch-link', data: {scrollto: '.contact-form'}} get in touch
          - unless @user.blog.blank?
            %li
              = link_to@user.blog, target: '_blank', class: 'timeline-link external' do
                blog
                %i.fa.fa-external-link
