#milestone
  .time-location
    %span.time= format_time_period(milestone)
    %span.location= milestone.location
  %h1.title= milestone.title

  %h2.company
    at
    - if milestone.company_url.blank?
      = milestone.company
    - else
      = link_to milestone.company, milestone.company_url, target: '_blank'

  - unless milestone.description.blank?
    .description= markdown(milestone.description)

- unless milestone.projects.blank?
  = render partial: 'projects', locals: { projects: milestone.projects }