.row.full
  .col-100
    .project-info
      %div
        = render 'shared/project_links', project: project
        %h2
          = project.title
          %span.year (#{project.published_on.year})
        %span.client
          %em for
          = print_client(project)
.row.full.project-description
  - if project.images.any?
    .col-35
      .copy.markdown
        = markdown(project.description)
    .col-65
      .owl-carousel
        - project.images.each do |screenshot|
          %div.item
            = image_tag(screenshot.image, alt: screenshot.description)
  - else
    .col-100
      .copy.markdown
        = markdown(project.description)
