- unless @user.projects.blank?
  .container#projects
    .row
      .col-100
        %h2 #{pluralize_without_count(@user.projects.size, 'Selected Project')}
        %ul#projects-list
          - @user.projects.each do |project|
            - bg_img = project.images.any? ? project.images.first.image : 'no_image'
            %li{style: "background-image: url(#{bg_img})"}
              .project-info
                %h4
                  %span.name= project.title
                  %span.year (#{project.published_on.year})
                %span.client
                  %em for
                  = project.client
              = link_to 'show me', project_popup_path(@user, project), remote: true, class: 'show-btn'

              -# - if project.images.any?
              -#   = image_tag(project.images.first.image, alt: project.images.first.description)
