%li
  .screenshot
    = image_for(project)
    .links
      = link_to project.link_live, target: '_blank' do
        %i.fa.fa-arrow-right
        Live
      = link_to project.link_source, target: '_blank' do
        %i.fa.fa-arrow-right
        View source
  .copy
    %h3= project.title
    .info
      %strong
        client:
        %span= project.client
      %strong
        | year:
        %span= project.published_on.year
    %p= markdown(project.description)

    %strong.role My role:
    = markdown(project.role)