.wrapper
  = render 'header'

  = render 'about'

  #skills.container
    .row
      .col-100
        - @user.skills.each do |skill|
          %span= skill.name

  = render 'timeline'
  = render partial: 'contact', locals: {user: @user}

  = render 'footer'
= render 'overlay'