%header.container
  .row
    .col-50.logo
      %h1
        %span.name= "#{@user.first_name} #{@user.last_name}"
        %span.description= @user.description
    .col-50.last
      %nav
        %ul
          %li
            %a(href='#') about
          %li
            %a(href='#') timeline
          %li
            %a(href='#') projects
          %li
            %a(href='#') contact



#about.container
  .row
    .col-100
      .bio= @user.bio
      .image
        = image_tag(@user.image)
        %a.email
          %i.fa.fa-envelope-o
          %span= @user.email
        %a.location
          %i.fa.fa-map-marker
          %span= @user.location
        %a.phone
          %i.fa.fa-phone
          %span= @user.phone

#skills.container
  .row
    .col-100
      - @user.skills.each do |skill|
        %span= skill.name

%section#timeline
  .timeline
    - @milestones.each do |milestone|
      .event
        .bubble
          = put_content(:p, milestone.title)
          = put_content(:p, milestone.company)
          = put_content(:p, milestone.location)
          = put_content(:p, milestone.date_start)

%footer.container
  .row
    .col-100.center.social-media
      %h2 you should check those out
      %ul
        - @user.social_media_links.each do |link|
          %li
            = link_to link.url, title: link.name, target: '_blank' do
              %i{class: 'fa fa-' + link.name.gsub(' ', '-')}
    .col-100.center
      %p.copyrights
        All copyrights reserved - Timeliner &copy;
        = "#{Date.today.year}."