= content_for(:title) do
  Timeliner | #{@user.full_name}'s  timeline is in maintenance mode
= content_for(:description) do
  = @user.bio

.wrapper
  = image_tag('maintenance_mode.gif', class: 'maintenance-mode')
