= content_for(:title) do
  = "#{@user.first_name} #{@user.last_name} - #{@user.description} | Timeliner"
= content_for(:description) do
  = @user.bio

.wrapper
  = render 'header'
  = render 'about'
  = render 'timeline'
  = render 'projects', user: @user
  = render 'contact', user: @user
  = render 'social_media'
  = render 'footer'
= render 'overlay'
