.ui.large.menu
  - if current_user
    = link_to milestones_path, class: 'item' do
      %h2
        %i.selected.radio.icon
        Timeliner
        -# = "#{current_user.first_name} #{current_user.last_name}"
  - else
    = link_to root_path, class: 'item' do
      %h3
        %i.selected.radio.icon
        Timeliner
  .right.menu
    - if signed_in?
      .ui.dropdown.item
        %i.dropdown.icon
        = image_tag(current_user.image, alt: current_user.username, class: 'ui avatar image')
        .menu
          = link_to edit_user_registration_path, class: 'item' do
            %i.setting.icon
            Settings
          = link_to user_timelines_path(current_user), class: 'item', target: '_blank' do
            %i.file.outline.icon
            Visit timeline
          = link_to destroy_user_session_path, class: 'item', method: :delete do
            %i.sign.out.icon
            Sign out
    - else
      = link_to new_user_registration_path, class: 'item' do
        %i.wizard.icon
        Sign up
      = link_to new_user_session_path, class: 'item' do
        %i.sign.in.icon
        Sign in