!!!
%html
  %head
    = render 'layouts/other/head_tags'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = render 'layouts/other/ga' if Rails.env.production?
  %body
    = render 'layouts/flash'
    = render 'layouts/backend/header'
    .container
      .row
        .col.w-20
          = render 'layouts/backend/sidebar_menu'
        .col.w-80
          = yield

    = render 'layouts/backend/footer'

