!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Timeliner
    - if controller_name == 'timelines'
      = stylesheet_link_tag    'frontend', media: 'all'
      = javascript_include_tag 'frontend'
    -else
      = stylesheet_link_tag    'application', media: 'all'
      = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = semantic_flash

    - unless controller_name == 'timelines'
      .ui.centered.vertically.padded.grid
        .fourteen.wide.column
          = render 'layouts/top_nav'

    = yield
