!!!
%html
  %head
    %title Timeliner
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}

    - if controller_name == 'timelines'
      = stylesheet_link_tag    'frontend', media: 'all'
      = javascript_include_tag 'frontend'
    -else
      = stylesheet_link_tag    'application', media: 'all'
      = javascript_include_tag 'application'
    = csrf_meta_tags
  %body

    - unless controller_name == 'timelines'
      = render 'layouts/header'

    = yield
