!!!
%html
  %head
    = render 'layouts/other/head_tags'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = render 'layouts/other/ga' if Rails.env.production?
  %body.app
    = render 'layouts/flash'
    = render 'layouts/backend/header'
    .container
      .sidebar
        = render 'layouts/backend/sidebar_menu'
      .row.clearfix
        .col.w-75.content.pull-right
          = yield

    = render 'layouts/backend/footer'

