!!!
%html
  %head
    = render 'layouts/other/head_tags'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = render 'layouts/other/ga' if Rails.env.production?
  %body.app
    = render 'layouts/flash'
    = render 'layouts/backend/header'
    .container
      - if current_user
        .sidebar
          = render 'layouts/backend/sidebar_menu'
      .row.full.app-main.body.clearfix
        .col.w-100.content
          = yield
      .row.full.app-main.footer.clearfix
        %footer.col.w-100
          = render 'layouts/backend/footer'
