!!!
%html
  %head
    = render 'layouts/other/head_tags'
    = stylesheet_link_tag    'landing-page', media: 'all'
    = javascript_include_tag 'landing-page'
    = csrf_meta_tags
    = render 'layouts/other/ga' if Rails.env.production?
  %body
    = render 'layouts/flash'
    = yield
