!!!
%html
  %head
    = render 'layouts/other/head_tags'
    = stylesheet_link_tag    'landing-page', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = render 'layouts/other/ga' if Rails.env.production?

  - x = 'something'
  %body.landing{class: controller_name}
    = render 'layouts/flash'
    = yield
