.ui.centered.grid
  .three.wide.column
    = render 'layouts/backend_side_nav'

  .eleven.wide.column
    %h1
      Account Information
      = link_to 'Edit', edit_account_path(@account)
    %p= "first name: #{@account.first_name}"
    %p= "last name: #{@account.last_name}"
    %p= "email: #{@account.email}"
    %p= "location: #{@account.location}"
    - unless @account.phone.blank?
      %p= "phone: #{@account.phone}"
    %p= "description: #{@account.description}"
    %p= "username: #{@account.username}"
    %p= image_tag(@account.image, size: "100x100", alt: @account.username)
    - unless @account.skills.blank?
      %hr
      %h2 Skills
      %ul
      - @account.skills.each do |skill|
        %li= skill.name
    - unless @account.social_media_links.blank?
      %hr
      %h2 Social media links
      %ul
      - @account.social_media_links.each do |link|
        %li= link_to link.name, link.url, target: '_blank'