= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  .row.clearfix
    .col.w-100
      = devise_error_messages!
  .form
    .row.clearfix
      .col.w-100
        = f.label :email, class: 'form-label'
        .field-icon
          %i.fa.fa-envelope-o
          = f.email_field :email, class: 'form-control', autofocus: true
    .row.clearfix
      .col.w-100
        = f.label :username, class: 'form-label'
        .field-icon
          %i.fa.fa-user
          = f.text_field :username, class: 'form-control'
    .row.clearfix
      .col.w-100
        = f.label :password, class: 'form-label'
        - if @validatable
          %em.form-label
            (#{@minimum_password_length} characters minimum)
        .field-icon
          %i.fa.fa-lock
          = f.password_field :password, class: 'form-control', autocomplete: "off"
    .row.clearfix
      .col.w-100
        = f.label :password_confirmation, class: 'form-label'
        .field-icon
          %i.fa.fa-lock
          = f.password_field :password_confirmation, class: 'form-control', autocomplete: "off"
    .row.clearfix
      .col.w-100
        = f.submit "Sign up", class: 'btn small ok'
        = render "users/shared/links"
