= content_for(:title) do
  = "Delete My Account - #{@user.first_name} #{@user.last_name} | Timeliner"
.container
  .row.full.page-title.clearfix
    %h2.dark.underline.left.thick.yellow
      Delete
      %span.semi-bold My Account

.container.alert.watch-it
  .row.full.clearfix
    .col.w-100
      %h4.alert-heading Are you sure you want to delete your account?

      = link_to "YES, Delete my account.", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn small danger'
      = link_to "No, Maybe later.", milestones_path, class: 'btn small ok'
