.ui.centered.grid
  .four.wide.column
    .ui.attached.message
      .header
        Sign up
      %p Fill out the form below to sign-up for a new account or just sign-up with your LinkedIn account
    .ui.form.attached.fluid.segment
      .field
        = link_to '/auth/linkedin', class: 'ui linkedin button' do
          %i.linkedin.square.icon
          Sign up
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .field
          = f.label :email
          .ui.icon.input
            = f.email_field :email, autofocus: true
            %i.mail.icon
        .field
          = f.label :username
          .ui.icon.input
            = f.text_field :username
            %i.user.icon
        .field
          = f.label :password
          - if @validatable
            %em
              (#{@minimum_password_length} characters minimum)
          .ui.icon.input
            = f.password_field :password, autocomplete: "off"
            %i.lock.icon
        .field
          = f.label :password_confirmation
          .ui.icon.input
            = f.password_field :password_confirmation, autocomplete: "off"
            %i.lock.icon
        .actions
          = f.submit "Sign up", class: 'ui submit button'
        .field

    .ui.bottom.attached.message
      = render "users/shared/links"
